<!--<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular App</span>
    <p></p>
    <div class="button-row">
      <button mat-button>Basic</button>
      <a mat-button routerLink="/">Inicio</a>
      <a mat-button routerLink="/catalogo">Catálogo</a>
      <a mat-button routerLink="/formulario">Formulario</a>
      <a mat-button routerLink="/detalles">Detalles</a>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-button routerLink=".">Link</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
-->

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a mat-button routerLink="/">Inicio</a></li>
      <li><a mat-button routerLink="/catalogo">Catálogo</a></li>
      <li><a mat-button routerLink="/formulario">Formulario</a></li>
      <li><a mat-button routerLink="/pventa">Punto Venta</a></li>
      <li><a mat-button routerLink="/historico">Historico</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a mat-button routerLink="/">Inicio</a></li>
      <li><a mat-button routerLink="/catalogo">Catálogo</a></li>
      <li><a mat-button routerLink="/formulario">Formulario</a></li>
      <li><a mat-button routerLink="/">Pendiente</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
