<!--The content below is only a placeholder and can be replaced.-->
<app-navbar class="navbar"></app-navbar>


<div class="separador">.</div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Proyecto Angular</h1>
        <div class="row center">
          <h5 class="header col s12 light">Un intento desesperado implementar Material Design</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src=".././assets/backg.jpg" alt="Unsplashed background img 1"></div>
  </div>
<main>
  <!--<div class="filtro"> </div>
  <div class="imagenchidori"></div> -->
  <div class="container" id="main">
    <div class="section">
        <router-outlet></router-outlet>
    </div>
  </div>
</main>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../assets/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<app-footer></app-footer>


