.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-title{
  text-shadow: black 0.1em 0.1em 0.2em;
}
.imagen{
  max-height: 180px;
}
.card-content{
  color: #222222;
}

.descripcion{
  font-size: small;
}

mat-card{
  display: block;
}
